<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >

    <title>잡서치</title>

</head>


<body>

    <main class="container">

        <h1>빅데이터 전문가 양성과정</h1>


        <form action="/search" method="get">

            <label>
                검색어
            </label>

            <input
                type="text"
                name="keyword"
                placeholder="검색어를 입력하세요"
                required
            >


            <label>
                검색 사이트
            </label>


            <label>

                <input
                    type="radio"
                    name="site"
                    value="all"
                    checked
                >

                전체 사이트

            </label>


            <label>

                <input
                    type="radio"
                    name="site"
                    value="incruit"
                >

                인크루트

            </label>


            <label>

                <input
                    type="radio"
                    name="site"
                    value="saramin"
                >

                사람인

            </label>


            <button type="submit">
                검색
            </button>

        </form>

    </main>

</body>

</html>