<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >

    <title>검색 결과</title>

</head>

<body>

    <main class="container">

        <h1>{{ keyword }} 잡서치 결과</h1>


        <div>

            <a href="/file?keyword={{ keyword }}">

                <button>
                    CSV 다운로드
                </button>

            </a>

        </div>


        <table>

            <thead>

                <tr>

                    <th>No</th>

                    <th>사이트</th>

                    <th>회사</th>

                    <th>공고제목</th>

                    <th>위치</th>

                    <th>상세보기</th>

                </tr>

            </thead>


            <tbody>

                {% for index, job in jobs %}

                <tr>

                    <td>
                        {{ index + 1 }}
                    </td>

                    <td>
                        {{ job["site"] }}
                    </td>

                    <td>
                        {{ job["company"] }}
                    </td>

                    <td>
                        {{ job["title"] }}
                    </td>

                    <td>
                        {{ job["location"] }}
                    </td>

                    <td>

                        <a
                            href="{{ job['link'] }}"
                            target="_blank"
                        >
                            상세보기
                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </main>

</body>

</html>